@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Rubik', sans-serif;
}

.animated-bg {
    background-image: url("./assets/bg.png");
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    text-align: center;
    animation: animation 30s linear infinite;
}

@keyframes animation {
    from { background-position: 0 0; }
    to { background-position: -400px -400px; }
}

.thumb-1 {
    background-image: url("./assets/thumb-1.png");
    background-color: #111827;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}

.thumb-2 {
    background-color: #D1D5DB;
    border-radius: 10px;
}

.thumb-3 {
    background-color: #D1D5DB;
    border-radius: 10px;
}

.thumb-4 {
    background-color: #D1D5DB;
    border-radius: 10px;
}